<style>
body{
    background-image: url('https://w.wallhaven.cc/full/qd/wallhaven-qdyexl.jpg'); background-size: cover; padding-bottom: 30rem;
}
.cuerpo{
    align-items: center;
    text-align: center;
    display: block;
    margin-top: 250px; 
}
.cuerpo h1, h2, h3{
    color: rgb(255, 255, 255);
}

.cuerpo h3{
    text-align:justify;
}



</style>


<section  class="cuerpo" >
    <div class="card-bady">

        <h1>Programacion WEB</h1>
        <h1>6 "A"</h1>
    <h2>¡Integrantes!</h2>

<hr class="my-4 " >  <!--Espaciado de arriba  y de abajo-->
<div  class="puntos" style="padding-left: 25em ;" >

<h3><li>
        Adriel David Molina Cifuentes_19700061
    </li>
    <li>
        José Daniel Guzmán Cruz_19700036
    </li>
    <li>
        Daniela Hernández Vázquez_19700041
    </li> 
    </h3>  
    </div>
</div>
</section>