

<style>
    body{
        background-image: url('https://w.wallhaven.cc/full/qd/wallhaven-qdyexl.jpg'); background-size: cover; padding-bottom: 30rem;
    }
   .cuerpo{
       align-items: center;
       text-align: center;
       display: block;
       margin-top: 250px; 
   }
   .cuerpo h1, h5{
       color: rgb(255, 255, 255);
   }
</style>


<div  class="cuerpo">
    <h1 class="display-4, text-center" > Galeria de Fotos</h1>
    <h5 class="lead, text-center">¡Bienvenido! </h5>
        <h5  class="lead, text-center" >
        En esta pagina podras subir fotos, almacenarlas en la nube, visualizarlas de una
        manera facil y comoda para ti como  usuario, que buscas algo no tan complejo de usar.</h5>
    <hr class="my-4 " >  <!--Espaciado de arriba  y de abajo-->



   <div class="text-center ">
       <a href="/users/signin"  class="btn btn-success"> Iniciar Sesion</a>
    <!--  <a href="/users/signin" class="nav-link"  class="btn btn-primary" >Iniciar Sesion</a> -->
    <a href="/users/signup"  class="btn btn-danger">Registrarse</a>
   </div>

    
  </div>